@page "/"
@inject NavigationManager navManager
@inject AuthenticationStateProvider authProvider
@inject ITagsData tagData
@inject IBlogPostData postData
@inject IUserData userData
@inject ProtectedSessionStorage sessionStorage

<PageTitle>Creative Blogs</PageTitle>

<link rel="shortcut icon" type="image/x-icon" href="./Images/" />


@*<div class="left-side-width float-start vertical-r"></div>*@

<div class="row ">
    <div class="col-md-8  d-flex justify-content-evenly my-2 py-2  border-style ">
        <button class="btn mx-auto my-2 custom-button" @onclick="() => OrderByRecent()"><span>RECENT</span></button>
        <button class="btn mx-auto my-2 custom-button" @onclick="() => OrderByTop()"><span>TOP</span></button>
        <button class="btn mx-auto my-2 custom-button" @onclick="() => OrderByHot()"><span>HOT</span></button>
        <button class="btn mx-auto my-2 custom-button" @onclick="() => OrderByOld()"><span>OLD</span></button>
    </div>
    <div class="col-md-1"></div>
    <div class="searchbox col-md-3 my-2 ">
        <input type="text"
                class="form-control rounded-control "
                placeholder="Search"
                @bind-value="@this.InputValue"
                @bind-value:event="oninput"
                @onkeydown="@OnSearchInput" />
    </div>
</div>

<div class="row">
    <main class="col-md-8 col-xl-9 mt-2 ps-0">


        <div class="container-tags ">
            @if (tags?.Count > 0)
            {
                @foreach (var t in tags)
                {
                    <div type="button" id="@t.TagName" @onclick="(() =>  OnTagClick(t.TagName))" class=" @OnTagFocus(t.TagName) my-2 btn radio-item-group">@t.TagName</div>
                }

            }
        </div>

        <div id="blog-post-section" >
            @if (blogposts is not null)
            {
                <Virtualize Items="@blogposts" Context="b" OverscanCount="10">
                    <div id="TheBigContainer" class=" my-5 overflow-auto ">
                        <div id="TopRowOfContainer" class="d-flex justify-content-start">
                            <div class="me-2">@b?.Author.DisplayName</div>
                            <div>@b?.DateCreated.ToString("MM.dd.yyyy")</div>
                            <span class="ms-auto me-2 d-flex gap-1 align-items-center" @onclick="() => Bookmark(b)">
                                <div>@GetBookmarkText(b)</div>
                                @if (loggedInUser is not null)
                                {
                                    @if (b.Author.Id != loggedInUser.Id)
                                    {
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16">
                                            <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z" />
                                        </svg>
                                    }
                                    else
                                    {
                                        <div id="empty"></div>
                                    }
                                }

                            </span>
                        </div>
                        <div id="MiddleContent" @onclick="(() => OpenDetails(b))">
                            <div id="Header" class="fw-bold">@b.Title</div>
                            <div id="Description">@GetSubstringDescription(b.Description)</div>
                        </div>
                        <div id="BottomContent" class="d-flex justify-content-lg-start">
                            <span class="mx-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" id="bookmark" class="bi bi-tags" viewBox="0 0 16 16">
                                    <path d="M3 2v4.586l7 7L14.586 9l-7-7H3zM2 2a1 1 0 0 1 1-1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 2 6.586V2z" />
                                    <path d="M5.5 5a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm0 1a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3zM1 7.086a1 1 0 0 0 .293.707L8.75 15.25l-.043.043a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 0 7.586V3a1 1 0 0 1 1-1v5.086z" />
                                </svg>
                            </span>
                            <div>
                                @b.Tag.TagName
                            </div>
                        </div>
                    </div>
                </Virtualize>
            }
        </div>
    </main>

    @*<div id="right-vr" class="right-side-width vertical-l "></div>*@

    <div class="col-md-4 col-xl-3 d-none d-md-block">
        <div class="sidebar row ">
            <button class="btn col-md-12 mx-auto my-4 custom-button" @onclick="HomePage"><span >Home</span></button>
            <button class="btn col-md-12 mx-auto my-4 custom-button" @onclick="YourPostsPage"><span >Your Posts</span></button>
            <button class="btn col-md-12 mx-auto my-4 custom-button" @onclick="HomePage"><span >Bookmarks</span></button> @* TODO: add Bookmarks page*@
            <button class="btn col-md-12 mx-auto my-4 custom-button" @onclick="CreatePage"><span >Write</span></button>
        </div>
    </div>

</div>









@code {
    private UserModel loggedInUser;
    private List<BlogPostModel> blogposts;
    private List<TagModel> tags;
    public string InputValue { get; private set; }
    public string TagFocus { get; set; }

    private string selectedTag = "All";
    private string searchText = "";
    private string sortPosts = "recent";
    bool isSortedByNew = true;
    bool isSortedByOld = true;

    protected async override Task OnInitializedAsync() 
    {
        tags = await tagData.GetAllTags();
        await LoadAndVerifyUser();
    }

    private async Task LoadAndVerifyUser() 
    {
        var authState = await authProvider.GetAuthenticationStateAsync();
        string objectId = authState.User.Claims.FirstOrDefault(c => c.Type.Contains("objectidentifier"))?.Value;
        if (string.IsNullOrWhiteSpace(objectId) == false)
        {
            loggedInUser = await userData.GetUserFromAuthentication(objectId) ?? new();

            string displayName = authState.User.Claims.FirstOrDefault(c => c.Type.Equals("name"))?.Value;
            string email = authState.User.Claims.FirstOrDefault(c => c.Type.Contains("email"))?.Value;

            //if user does not exist, data is not dirty and user will be added to database
            bool isDirty = false;
            if (objectId.Equals(loggedInUser.ObjectIdentifier) == false)
            {
                isDirty = true;
                loggedInUser.ObjectIdentifier = objectId;
            }
            if (displayName.Equals(loggedInUser.DisplayName) == false)
            {
                isDirty = true;
                loggedInUser.DisplayName = displayName;
            }
            if (email.Equals(loggedInUser.EmailAddress) == false)
            {
                isDirty = true;
                loggedInUser.EmailAddress = email;
            }
            if (isDirty)
            {
                if (string.IsNullOrWhiteSpace(loggedInUser.Id))
                {
                    await userData.CreateUser(loggedInUser);
                }
                else
                {
                    await userData.UpdateUser(loggedInUser);
                }
            }
        }
    }

    protected async override Task OnAfterRenderAsync(bool firstRender) 
    {
        if(firstRender) 
        {
            await LoadFilterState();
            await FilterBlogPosts();
            StateHasChanged();
        }
    }

    private async Task LoadFilterState() 
    {
        var stringResults = await sessionStorage.GetAsync<string>(nameof(selectedTag));
        selectedTag = stringResults.Success ? stringResults.Value : "All";

        stringResults = await sessionStorage.GetAsync<string>(nameof(searchText));
        searchText = stringResults.Success ? stringResults.Value : "";

        stringResults = await sessionStorage.GetAsync<string>(nameof(sortPosts));
        sortPosts = stringResults.Success ? stringResults.Value : "recent";

        var boolResults = await sessionStorage.GetAsync<bool>(nameof(isSortedByNew));
        isSortedByNew = boolResults.Success ? boolResults.Value : true;

        boolResults = await sessionStorage.GetAsync<bool>(nameof(isSortedByOld));
        isSortedByOld = boolResults.Success ? boolResults.Value : true;
    }



    private async Task SaveFilterState() 
    {
        await sessionStorage.SetAsync(nameof(selectedTag), selectedTag);
        await sessionStorage.SetAsync(nameof(searchText), searchText);
        await sessionStorage.SetAsync(nameof(isSortedByNew), isSortedByNew);
        await sessionStorage.SetAsync(nameof(isSortedByOld), isSortedByOld);
    }

    private async Task FilterBlogPosts() 
    {
        var output = await postData.GetAllBlogPosts();

        if (selectedTag != "All")
        {
            output = output.Where(b => b.Tag?.TagName == selectedTag).ToList();
        }
        else
        {
            output.ToList();
        }

        if (string.IsNullOrWhiteSpace(searchText) == false)
        {
            output = output.Where(
                b => b.Title.Contains(searchText, StringComparison.InvariantCultureIgnoreCase) ||
                b.Description.Contains(searchText, StringComparison.InvariantCultureIgnoreCase) || 
                b.Tag.TagName.Contains(searchText, StringComparison.InvariantCultureIgnoreCase)
            ).ToList();
        }

        if (sortPosts == "recent")
        {
            output = output.OrderByDescending(b => b.DateCreated).ToList();
        }
        if (sortPosts == "top") 
        {
            output = output.OrderByDescending(b => b.Bookmarks.Count)
                            .ThenByDescending(b => b.DateCreated).ToList();
        }
        if (sortPosts == "hot")
        {
            //Get the top posts in descending order within a timeframe of 1 week
            DateTime dt7 = DateTime.Today.AddDays(-7);
            
            output = output.Where(b => b.DateCreated > dt7).OrderByDescending(b => b.Bookmarks.Count)
            .ThenByDescending(b => b.DateCreated).ToList();
        }
        if (sortPosts == "old")
        {
            output = output.OrderBy(b => b.DateCreated).ToList();
        }

        //if (isSortedByNew)
        //{
        //    output = output.OrderByDescending(b => b.DateCreated).ToList();

        //}
        //else
        //{
        //    //Popular all time
        //    output = output.OrderByDescending(b => b.Bookmarks.Count)
        //                    .ThenByDescending(b => b.DateCreated).ToList();
        //}
        //// TODO: fix the logic - this shit aint it lil bro
        //if (isSortedByOld == true && isSortedByNew == false)
        //{
        //    output = output.OrderBy(b => b.DateCreated).ToList();
        //}
        //else if(isSortedByOld == false && isSortedByNew == false)
        //{
        //    //Popular of the week
        //    output = output.OrderByDescending(b => b.DateCreated.AddDays(-7)).ThenByDescending(b => b.Bookmarks.Count).ToList();
        //}

        blogposts = output;

        await SaveFilterState();
    }

    private void SamplePage() 
    {
        navManager.NavigateTo("/SampleData");
    }
    private void HomePage()
    {
        navManager.NavigateTo("/");
    }

    private void CreatePage() 
    {
        if (loggedInUser is not null)
        {
            navManager.NavigateTo("/Create");
        }
        else
        {
            navManager.NavigateTo("/MicrosoftIdentity/Account/SignIn", true);
        }
    }

    private void YourPostsPage()
    {
        if (loggedInUser is not null)
        {
            navManager.NavigateTo("/Posts");
        }
        else
        {
            navManager.NavigateTo("/MicrosoftIdentity/Account/SignIn", true);
        }

    }

    private string GetSubstringDescription(string description) 
    {
        if (description.Length > 200)
        {
            return description = description.Substring(0, 200).TrimEnd() + "...";
        }
        else
        {
            return description;
        }
    }
    //private async Task OrderByNew(bool isNew) 
    //{
    //    isSortedByNew = isNew;
    //    await FilterBlogPosts();
    //}

    //private async Task OrderByOld(bool isOld) 
    //{
    //    isSortedByOld = isOld;
    //    await FilterBlogPosts();
    //}

    private async Task OrderByRecent(string recent = "recent")
    {
        sortPosts = recent;
        await FilterBlogPosts();
    }

    private async Task OrderByTop(string top = "top")
    {
        sortPosts = top;
        await FilterBlogPosts();
    }

    private async Task OrderByHot(string hot = "hot")
    {
        sortPosts = hot;
        await FilterBlogPosts();
    }

    private async Task OrderByOld(string old = "old")
    {
        sortPosts = old;
        await FilterBlogPosts();
    }

    private async void OnSearchInput(KeyboardEventArgs e)
    {
        var search = this.InputValue;

        if (e.Code == "Enter" || e.Code == "NumpadEnter")
        {
            searchText = search;
            await FilterBlogPosts();
        }
    }

    private string OnTagFocus(string tag = "All")
    {

        if (tag == selectedTag)
        { 
            return TagFocus = "tag-focus";
        }
        else
        {
            return "";
        }
    }

    private async Task OnTagClick(string tag = "All") 
    {

        selectedTag = tag;

        await FilterBlogPosts();
    }

    private string GetBookmarkText(BlogPostModel blogPost) 
    {
        return blogPost.Bookmarks.Count.ToString("00");
    }

    private void OpenDetails(BlogPostModel blogPost) 
    {
        navManager.NavigateTo($"/Details/{blogPost.Id}");
    }



    private async Task Bookmark(BlogPostModel blogpost) 
    {
        if (loggedInUser is not null)
        {
            if (blogpost.Author.Id == loggedInUser.Id)
            {
                //can't bookmark your own post
                return;
            }
            if (blogpost.Bookmarks.Add(loggedInUser.Id) == false)
            {
                blogpost.Bookmarks.Remove(loggedInUser.Id);
            }
            await postData.BookmarkBlogPost(blogpost.Id, loggedInUser.Id);
            if (sortPosts == "top")
            {
                blogposts = blogposts.OrderByDescending(b => b.Bookmarks.Count)
                            .ThenByDescending(b => b.DateCreated).ToList();
            }
            if (sortPosts == "hot")
            {
                blogposts = blogposts.OrderByDescending(b => b.Bookmarks.Count)
                           .ThenByDescending(b => b.DateCreated.AddDays(-7)).ToList();
            }
        }
        else
        {
            navManager.NavigateTo("/MicrosoftIdentity/Account/SignIn", true);
        }
    }
}


